
############ \u6D4B\u8BD5\u73AF\u5883\u914D\u7F6E ############

# \u63A5\u53E3\u5E73\u53F0URL\u5165\u53E3\u5730\u5740
reqUrl=https://test.bnpo.gov.cn/openapi/notarization

# \u63A5\u53E3\u5E73\u53F0\u516C\u94A5
platformPublicKey=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDihV2plzCpB+lKeKgPz4GLMIQ3Nw8X85szZSJPpWovAXQ2xJktqLxPDoU2xqdzyjvAcXa0QR2HDP6rgXAgxbMPlqbx0q4TIe7OjdzoNEJEIPVbJvYq0PGxNckcutivWVJjn2/DVFNff/nbI+LDjk9iSm/BSCTidfkDrSW5YxENMwIDAQAB

### \u63A5\u5165\u65B9\u5B9A\u5236\u914D\u7F6E\u53C2\u6570

# \u63A5\u5165\u65B9\u7F16\u53F7
partnerEntId=76

# \u6D4B\u8BD5\u73AF\u5883
partnerId=YCW-TEST-1

# \u63A5\u5165\u65B9\u516C\u94A5 \u6D4B\u8BD5\u73AF\u5883
publicKey=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDu87Oz0hAevCZhOBOF9pNE9lq2A7nNyo+YgjH51Ph2fsiG8Z5KGEdw191xMoifhM78/8IzYDanRvC0NgrqxrI9GZlcGeaoEMJOCV/5qT5GJq0UipuyPLcQwIWKX1LUsXJfT9XZ4wwp/COwSjPE68wV0V36gAaI1WOC3+qQmNs4AwIDAQAB

# \u63A5\u5165\u65B9\u79C1\u94A5 \u6D4B\u8BD5\u73AF\u5883
privateKey=MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBAO7zs7PSEB68JmE4E4X2k0T2WrYDuc3Kj5iCMfnU+HZ+yIbxnkoYR3DX3XEyiJ+Ezvz/wjNgNqdG8LQ2CurGsj0ZmVwZ5qgQwk4JX/mpPkYmrRSKm7I8txDAhYpfUtSxcl9P1dnjDCn8I7BKM8TrzBXRXfqABojVY4Lf6pCY2zgDAgMBAAECgYEA6n069xcIfLDU1QjLl+X+ZWmAYSfM2VeTjO0PEAVgAiCutkY7uKiUyvb7N0+I5UnWOk7eC766Q3OJWL/D/NsaIpgYW/We36og7cohH+AFeUNDiDl3Jw4S/EfhpqxhDzMq/bQZuaub2pXQFR8sDSW/2LXIYfAP76yYoH3BdH4AapECQQD6wMq7gq+Og0Oq3n4e+pWckJm15R61MOvnvEDHInAT9yBlgxr31xh7id/1jc78N6dKpo2NCR3wP1VMRe+Pq2ULAkEA8/Ox6N6zjM3i38QWvIuMjXOkwP8BBWBX59hLvWh37YRp101y120Ktn+iU53b6XQr8wbERLLlI5xQa7j39Ptj6QJABs99siIWipReHiH04vqDXcE/q4URlHJDtgOS7tWsnZ40rw0kil65N4HDJ3Q2jvsj/A8SASaiPYg61NuBajGJiQJBAJqYyRpGZ4rHvwsHfVEnLn9F1hbog4EguRSYIgd6eOXwkBJ9ZlXXKH7XC8vpsj+T+3Ybx62xoTycBur9YUXDOmECQQCr7NayrqV12u+5odUad94cLQJt0S2BPGqXj3vq4ZmUzFVf4qSTf0Ln3nKdc4nc1j6btZSx35F6U+N2NIwlYZU1

# \u63A5\u5165\u65B9sdk\u7F16\u53F7
sdkId=26032615

# \u63A5\u53E3\u8FD4\u56DE\u503C\u662F\u5426\u9A8C\u7B7E\u3002\u9ED8\u8BA4\u4E3Afalse\uFF0C\u53EF\u6839\u636E\u5B9E\u9645\u60C5\u51B5\u914D\u7F6E\u3002
verifyRespSign=false
