
############ 方圆可信空间平台【生产环境】配置 ############ 

# 接口平台URL入口地址
reqUrl=https://evidence.bnpo.gov.cn:4430/openapi/notarization

# 接口平台公钥
platformPublicKey=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCw/l6Eupsrt130ZIZO66APoBdoIjjS+Yer6WG5X0vK3Sj2pnHvQu4fHu6nMfDX5kw3GQaL/V8MtGES+JHz+Eq+T482CSd7vjMvwqPQfkIAA/bqtDY4SBfQY4urUqbM600iXFoEdcth++nGoufzmtnEMdUFUm0M3TxcqkDp/IzkgQIDAQAB

### 接入方定制配置参数
# 接入方编号
partnerId=FYC-CICV

# 接入方私钥
privateKey=MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBANUO6N/lc9ql2H6jXf84sE7XYgSPZsZbeLT7i9PnwBuwgNeTJxgH0Ai06+EZzN2mDAYTJ4R26toD0uCvx5FlLtBIJOAdu+Y3atH338GnmdjR+1yyg8G4l/RUqgBTmorMqQn9CE6HTbyG+9xDu17dPFiItMTgchffp/9vHGQz5xAPAgMBAAECgYBYWfN2DWeqrwWFFmf/U1nBiA2MiI79CKeYnYuRl1QR53K2cr5Od8bsJWJ/mTxcWeQ4jK7hfpLLT7SeGiavA3+Se0G61fD36JMJGFZ6kPcDRyuFNE9jcKoQcssTpNTTkKiUjK2CL5/AyV6Q5EArJazZ8mh7I2hn1sOIomdGGj+XuQJBAP5Vyk68EVhOs4/+grePHh0sYE70CG8B9fts0o0LicJ4lY9VeucGW8c0xZZiG0IgrIjKQ+w5PRiNIzzua5MFkc0CQQDWc/LMbfpUJB6GVBUqmVKp5JnEFG5o1fimp6CHExpFS/VdBAHWiXtSL2tHB/CXXlRWVB88GVMOgyukgfi6Jb1LAkEAvwQl1m5vRHiPadVHzZ8CifybNJEZiG3blgLMO7xvsYwpH6aekMZ4xat/voteV5L8ohvvWYo/taHC1m9mgdxL/QJBALHM8EEN7b5VM/mrPOFUvXSeU95+EgxZWw7RbAaRj/ZkQ8oayGtXESfSqN77dj4Jt2Lb3Am39WTS3BxIpi+vmoECQHmR4RBeEzmxnObwhYrQgpjcl/KZgQLgcB3oR+GaxQeIP0U5dVvb913Fe9W5vUFkc/yNZS50QzHDDlxjuJEHC58=

# 接入方密钥编号
sdkId=1012508